@charset "UTF-8";
/* CSS Document */

/*初期化*/
* {
    margin: 0px;
    padding: 0px;
    color:#4F4F4F;
}

body{
  background-color: #F2F2F2;
}

li {
    list-style-type: none;
    list-style-position: outside;
}


#list{
  display: flex;
  margin-bottom: 10px;
}
.regist{
  display: flex;
  width: 270px;
  background-color: #fff;
  margin-right: 10px;
  height: 90px;
}
.mj{
  height: 90px;
  margin-left: 10px;
}
p{
  margin-bottom: 0px;
}
.regist > img{
  background-color: #F7BE81;
  padding: 20px;
}

.product{
  display: flex;
  width: 270px;
  background-color: #fff;
  height: 90px;
}
.product > img{
  background-color: #A9F5A9;
  padding: 20px;
}