@charset "UTF-8";
/* CSS Document */

/*初期化*/
* {
    margin: 0px;
    padding: 0px;
}

body{
  background-color: #F2F2F2;
}

li {
    list-style-type: none;
    list-style-position: outside;
}

.aa{
  height: 30px;
  padding-top:20px;
}
.a{
  margin: 10px 0 30px 100px;
}

.aaa{
  height: 220px;
  margin: 0 auto;
  padding-top: 100px;
}

.aaaa{
  height: 220px;
  margin: 0 auto;
  padding-top: 100px;
}

.d{
  margin-left: 5px;
}

.e{
  margin-right: -40px;
  margin-left: 35px;
}

.f{
  margin-bottom: 5px;
}

.i{
  margin: 0 auto;
}

.p{
  color:#F7BE81;
  font-weight: bold;
}

#header{
  height: 80px;
  background-color: #F7BE81;
  text-align: center;
  margin-bottom: 40px;
}
#header > img{
  margin-top: 10px;
}

span{
  color: #F78181;
  padding-left: 5px;
}

.red2{
  color: #F78181;
}

.k{
  margin: 30px 0;
}