@charset "UTF-8";


/*=====初期化=====*/
*{
	margin:0px;
	padding:0px;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration:none; 
}


/*=====背景画像=====*/
body{
    background-position: center center;
}

/*=====画面デザイン=====*/

#header{
    background-color: rgba(255, 250, 240, 0.7);
    padding:10px 0;
}
#header img{
    width: 150px;
    height: 80px;
}
#navi{
    width: 15%;
    float: left;
    background: linear-gradient(#fffaf0, #d1aa8c);
}
#navi li{
    border-top: gray solid 1px;
    border-left: gray solid 1px;
    border-right: gray solid 1px;
    width: 99%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#navi #last{
    border-bottom: solid gray 1px;
}



#main{
    grid-area:ma;
    
}
#main h1{
	font-size: 1.2em;
    margin-top: 30px;
    margin-left: 18%;
}
#main .PRODUCTS{
    margin-left: 18%;
}
#main .Product1{
    width: 840px;
    margin: 5px;
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}
#main .product{
    font-size: 0.85em;
    border: solid 1px gray;
    height: 240px;
    width: 180px;
    margin: 5px; 
    margin-bottom: 20px;
}
#main .product img{
    width: 170px;
    height: 180px;
    border: solid 1px gray;
}
#main .product p{
    font-size: 0.85em;
    margin: 5px; 
}
#main p{
	margin-left: 355px;
	margin-bottom: 30px;
}

.paging {
  text-align: center;
  margin: 0 auto;
}

#end{
    border-top: grey solid 0.5px;
    background-color: #d1aa8c;
    text-align: right;
    padding: 5px 5px;
    clear: both;
    font-size: 0.75em;
    height: 20px;
}