@charset "UTF-8";


/*=====初期化=====*/
*{
	margin:0px;
	padding:0px;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration:none; 
}


/*=====背景画像=====*/
body{
    background-position: center center;
}

/*=====画面デザイン=====*/

#header{
    background-color: rgba(255, 250, 240, 0.7);
    padding:10px 0;
}
#header img{
    width: 150px;
    height: 80px;
}

#header .nav_btn {
    width: 44px;
    height: 44px;
    z-index: 300;
    top: 7px;
    right: 7px;
    cursor: pointer;
    position: absolute;
  }
   
  .hamburger_line {
    transition: all .6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
   
  .hamburger_line1 { top: 10px; }
  .hamburger_line2 { top: 21px; }
  .hamburger_line3 { top: 32px; }
   
  .nav_bg {
    opacity: 0;
    transition: all .6s;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #000;
    cursor: pointer;
    position: fixed;
  }
   
  /* 表示された時用のCSS */
  .nav_open  #navi ul{ right: 0; }
   
  .nav_open .nav_bg {
    opacity: .8;
    visibility: visible;
  }
   
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
   
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
   
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }


.zdo_drawer_menu * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    text-decoration: none;
    list-style: none;
  }
  .zdo_drawer_menu a {
    color: inherit;
    text-decoration: none;
  }
  .zdo_drawer_menu a:visited {
    color: inherit;
  }
  .zdo_drawer_menu .zdo_drawer_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(51, 51, 51, 0.5);
    display: none;
    top: 0;
    left: 0;
  }
  .zdo_drawer_menu .zdo_drawer_button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 42px;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 32px;
    z-index: 1001;
    text-align: center;
    outline: none;
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar {
    width: 49px;
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar1 {
    transform: rotate(30deg);
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar2 {
    opacity: 0;
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar3 {
    transform: rotate(-30deg);
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_menu_text {
    display: none;
  }
  .zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_close {
    display: block;
  }
  .zdo_drawer_menu .zdo_drawer_bar {
    display: block;
    height: 2px;
    margin: 10px 0;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
  .zdo_drawer_menu .zdo_drawer_text {
    text-align: center;
    font-size: 10px;
  }
  .zdo_drawer_menu .zdo_drawer_close {
    letter-spacing: 0.08em;
    display: none;
  }
  .zdo_drawer_menu .zdo_drawer_menu_text {
    display: block;
  }
  .zdo_drawer_menu .zdo_drawer_nav_wrapper {
    width: 312px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(312px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #FFF;
  }
  .zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
    transform: translate(0);
  }
  .zdo_drawer_menu.left .zdo_drawer_button {
    right: auto;
    left: 32px;
  }
  .zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
    transform: translate(-312px);
    right: auto;
    left: 0;
  }
  .zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
    transform: translate(0);
  }
  /*+++ Default Navigation CSS +++*/
  .zdo_drawer_menu .zdo_drawer_nav {
    padding: 112px 24px;
  }
  .zdo_drawer_menu .zdo_drawer_nav li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  /*+++ Default Button Color +++*/
  .zdo_drawer_menu .zdo_drawer_button {
    color: #000000;
  }
  .zdo_drawer_menu .zdo_drawer_button .zdo_drawer_bar {
    background-color: #000000;
  }
  .border{
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .border::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .border:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  
  

#main{
    grid-area:ma;
    
}
#main h1{
	font-size: 1.2em;
    margin-top: 30px;
    margin-left: 50px;
}
#main .PRODUCTS{
    margin-left: 70px;
}
#main .Product1{
    width: 840px;
    margin: 5px;
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}
#main .product{
    font-size: 0.85em;
    border: solid 1px gray;
    height: 240px;
    width: 180px;
    margin: 5px; 
    margin-bottom: 20px;
}
#main .product img{
    width: 170px;
    height: 180px;
    border: solid 1px gray;
}
#main .product p{
    font-size: 0.85em;
    margin: 5px; 
}
#main p{
	margin-left: 355px;
	margin-bottom: 30px;
}

.paging {
  text-align: center;
  margin: 0 auto;
}

#end{
    border-top: grey solid 0.5px;
    background-color: #d1aa8c;
    text-align: right;
    padding: 5px 5px;
    clear: both;
    font-size: 0.75em;
    height: 20px;
}